<div class="w-full h-[10rem]"></div>
<div class="w-full px-10 lg:px-44 flex flex-col gap-10 py-10 bg-white">
  <h1 class="font-messiri text-[2rem] lg:text-[3rem] font-primary text-center text-primary font-bold">Politicas de Reserva Xora Spa</h1>

  <app-item-info
    [tittle]="'Política y Protocolo del Spa'"
    [info]="
      'Masajes de relajación y Zona húmeda. No hay límite de edad para recibir tratamientos de masaje.'
    "
  ></app-item-info>  

  <app-item-info
    [tittle]="'Reservaciones'"
    [info]="
      'Recomendamos reservar su cita con anticipación para que podamos satisfacerlo con nuestros diferentes rituales Spa.'
    "
  ></app-item-info>

  <div class="flex flex-col gap-5">
    <app-item-info
      [tittle]="'Reservaciones'"
      [info]="
        'Su Bono Spa tiene vigencia de 30 días a partir de su pago. Solo podrán ser usados hasta la fecha especificada en los mismos, después de lo cual caducarán definitivamente, sin que pueda el Usuario reclamar derecho o indemnización alguna.'
      "
    ></app-item-info>

    <ul class="list-disc pl-5">
        <li  class="font-jost text-primary text-[1rem] text-justify">Los Bono Spa, su correcto uso y cuidado son responsabilidad del adquiriente.</li>
        <li  class="font-jost text-primary text-[1rem] text-justify">No se procederá la devolución del precio del Bono Spa después de que se haya recibido el servicio. (Rituales Spa – Masajes de relajación, etc.</li>
        <li  class="font-jost text-primary text-[1rem] text-justify">Cuando se adquiere un servicio (Bono Spa), compra a distancia, por teléfono o por internet, el cliente podrá solicitar su reembolso en los siguientes cinco (5) días de haber realizado la compra. SIC Superintendencia de Industria y Comercio.</li>
        <li  class="font-jost text-primary text-[1rem] text-justify">En caso de problema con el Bono Spa y su generación, el usuario deberá contactarse en primer lugar con el área de Servicio al Cliente de Ixora Spa Bucaramanga.</li>
    </ul>
  </div>

  <app-item-info
    [tittle]="'Factura'"
    [info]="
      'Las facturas emitidas por las ventas de transferencia bancaria, consignación bancaria o giro por recaudo serán generadas telefónicamente previa confirmación del pago y para la cual se asignará el código del Bono Spa. Serán entregadas al momento de la prestación del servicio.'
    "
  ></app-item-info>
  <strong class="font-jost text-red-500 text-[1rem] text-justify">Su bono Spa tiene vigencia de 30 días a partir de su pago.</strong>

  <app-item-info
    [tittle]="'Estado de salud'"
    [info]="
      'Se solicita que al momento de realizar su cita diligencie el formato de su estado de salud, si existe cualquier condición, alergia o lesión, la cual pueda afectar el servicio de relajación.'
    "
  ></app-item-info>

  <app-item-info
    [tittle]="'Llegadas Tarde'"
    [info]="
      'Para su comodidad y una excelente prestación del servicio se solicita llegar con 15 minutos de anticipación y así disponer de suficiente tiempo para la preparación de su servicio de relajación. En caso de llegar tarde, realizaremos todos nuestros esfuerzos para atenderlo, pero esto no siempre es posible. La duración de su servicio puede ser reducida para evitar retrasos con los demás clientes. Así mismo los servicios serán cobrados en su totalidad.'
    "
  ></app-item-info>

  <app-item-info
    [tittle]="'Cancelación y Re agendamiento'"
    [info]="
      'Los servicios que usted seleccione serán reservados especialmente para ser realizados en su cita. Requerimos un mínimo de 24 horas de anticipación a la cita para realizar la cancelación de la misma y re agendar su cita. Si se re agenda lo podrá hacer únicamente entre semana de lunes a jueves y en horario de 8 am a 3 pm. A menos de 24 horas de su cita, usted es considerado “confirmado” para su servicio (tratamiento de relajación) con lo cual la política de cancelación estará en efecto y el valor del servicio será aplicado en su totalidad. Se cobrará el valor total de la cita en caso de su inasistencia a la cita prevista.'
    "
  ></app-item-info>

  <div>
      <app-item-info
        [tittle]="'Devoluciones'"
        [info]="
          'Dando cumplimiento a nuestro compromiso de prestar el servicio que usted adquiere en el momento de la compra de su plan y dando cumplimento al acuerdo de agendamiento de su cita, ofrecemos la opción de re agendamiento (siempre y cuando se realice la debida cancelación dentro de los tiempos establecidos) Por tal motivo bajo ninguna circustancia se realizará proceso de devolución de dinero.'
        "
      ></app-item-info>
    <br>
    <p class="font-jost text-red-500 text-[1rem] font-semibold">para su re agendamiento puede volver al enunciado anterior (Cancelaciones y Re agendamiento) para aplicar al proceso de re agendamiento de su cita.</p>
  </div>

  <app-item-info
    [tittle]="'Higiene'"
    [info]="
      'Cumpliendo con nuestro compromiso de higiene y seguridad, nuestras cabinas de relajación y zonas húmedas son desinfectadas y esterilizadas después de cada servicio.'
    "
  ></app-item-info>

  <app-item-info
    [tittle]="'Pagos'"
    [info]="
      'Nuestros medios de pago son Bancolombia, Nequi, Daviplata y efectivo unicamente.'
    "
  ></app-item-info>
  <app-item-info
    [tittle]="'Precios'"
    [info]="
      'Nos reservamos el derecho a modificar, discontinuar o aumentar los precios de ciertos servicios sin notificación previa para asegurar los estándares máximos de servicio y calidad. Ante cualquier duda favor comuníquese a nuestras líneas telefónicas antes de reservar su cita.'
    "
  ></app-item-info>

  <div class="flex flex-col gap-10">

      <div class="flex flex-col gap-5">
        <h1 class="font-jost text-primary font-bold text-[1.2rem]">Protocolos del Spa:</h1>

        <ul class="list-disc pl-5 flex flex-col gap-2">
            <li class="flex flex-col lg:flex-row gap-3 lg:gap-2"><strong class="font-jost text-primary font-bold">Ruido:</strong><p class="text-primary font-jost text-justify">El ambiente de nuestro Spa es de tranquilidad y relajación. Por favor, respete el derecho de los demás pacientes del Spa a la privacidad y serenidad. Se ruega mantener conversaciones a un volumen considerable en todas las áreas de tratamiento. Nuestra sala de espera es un sector perfecto para conversaciones.</p></li>
            <li class="flex flex-col lg:flex-row gap-3 lg:gap-2"><strong class="font-jost text-primary font-bold">Celulares:</strong><p class="text-primary font-jost text-justify">Recomendamos apagar sus celulares o en opción de silencio para que usted pueda disfrutar de su tratamiento. El uso del celular o equipos electrónicos deben estar bajo su cuidado y su responsabilidad. No nos hacemos responsable por perdida o daño</p></li>
            <li class="flex flex-col lg:flex-row gap-3 lg:gap-2"><strong class="font-jost text-primary font-bold">Niños y mascotas:</strong><p class="text-primary font-jost text-justify">Nuestro ambiente de tranquilidad es para su confort y el de los demás clientes. Por tanto, desafortunadamente durante su visita no podemos atender sus niños y/o mascotas.</p></li>
            <li class="flex flex-col lg:flex-row gap-3 lg:gap-2"><strong class="font-jost text-primary font-bold">Fumar:</strong><p class="text-primary font-jost text-justify">Nuestro establecimiento es 100% libre de humo de tabaco. Resolución 1956 de 2008, Ministerio de Protección Social.</p></li>
            <li class="flex flex-col lg:flex-row gap-3 lg:gap-2"><strong class="font-jost text-primary font-bold">Relaciones Sexuales</strong><p class="text-primary font-jost text-justify">En nuestro Spa NO está permitido tener relaciones sexuales ya que es una espacio familiar, creado para relajarse, pasarla bien y que está adecuado para desconectarse de la cotidianidad. Ademas de ser un espacio de uso público, siempre estará acompañado de nuestras terapeutas y de otro usuarios por lo que incurriría en contravención al Código de Policía Nacional (Ley 1801 de 2016) en su artículo 33. El incumplimiento de esta norma acarrea una multa de $180.000 y la finalización del servicio.</p></li>
        </ul>
      </div>
  </div>

  <div>
    <br>
    <p class="text-primary font-jost text-[1rem] font-bold text-justify">
  <strong>Mayor información:</strong>
  <span> </span>
  <strong>Ixorasparelajacion&#64;gmail.com</strong>
  &nbsp;&nbsp;&nbsp;
  <strong>Contacto:</strong>
  <span> </span>
  <strong>3209416091</strong>
  &nbsp;-&nbsp;
  <strong>3209368933</strong>
</p>
  </div>

</div>