<nav class="w-screen shadow-xl fixed z-10">
  <div class="flex w-full h-10 bg-primary px-10 lg:px-[20rem] justify-end items-center"> 
      <ul class="flex gap-5">
          <a href="https://www.instagram.com/ixoraspabga/" target="_blank"><img class="w-5 transition-all ease-in duration-150 hover:scale-110" src="assets/icons/ig.png" alt=""></a>
          <a href="https://api.whatsapp.com/send/?phone=573209416091&text=Hola+Xora+Spa.+Necesito+m%C3%A1s+informaci%C3%B3n+sobre+Somos+Laurel+Spa+Medellin+Colombia&type=phone_number&app_absent=0" target="_blank"><img class="w-5 transition-all ease-in duration-150 hover:scale-110" src="assets/icons/wsp.png" alt=""></a>
          <a href="https://www.tiktok.com/@ixoraspabga" target="_blank"><img class="w-5 transition-all ease-in duration-150 hover:scale-110" src="assets/icons/tik-tok.png" alt=""></a>
          <a href="https://www.facebook.com/ixoraspabga/?locale=es_LA" target="_blank"><img class="w-5 transition-all ease-in duration-150 hover:scale-110" src="assets/icons/face.png" alt=""></a>
      </ul>
  </div>

  <div class="flex px-10 lg:px-[20rem] justify-center lg:justify-between items-center py-[1rem] bg-white">
    <a href="" class="hidden lg:block"><img src="assets/images/logo.png" alt=""></a>
    <ul class="flex gap-5">
      <li><a class="text-primary font-light lg:text-[1.5rem]" href="">HOME</a></li>
      <li><a class="text-primary font-light lg:text-[1.5rem]" routerLink="/planes" href="">PLANES</a></li>
      <li><a class="text-primary font-light lg:text-[1.5rem]" routerLink="/politicas">POLITICAS</a></li>
      <li><a class="text-primary font-light lg:text-[1.5rem]" href="">GALERIA</a></li>
    </ul>
  </div>
</nav>

<div>
  <router-outlet />
  <app-info></app-info>
</div>


