<div class="w-full lg:h-[10rem]"></div>

<!-- MAIN -->
<div
  class="bg-[url('assets/images/bg_main.png')] bg-cover bg-center w-full h-[55rem] lg:h-[55rem] flex flex-col lg:flex-row justify-between items-start lg:py-[8rem] gap-10 lg:px-[20rem] px-10 pt-[10rem]"
>
  <div
    class="flex flex-col gap-3 bg-black/70 rounded-2xl p-5 lg:p-10 w-full lg:w-[30%]"
  >
    <h1 class="text-orange-200 font-bold text-[1.6rem]">IXORA SPA</h1>

    <h2 class="text-white font-semibold text-[1.2rem] italic">
      Un refugio de calma donde tu cuerpo y mente encuentran equilibrio.
    </h2>

    <h2 class="text-orange-200 text-[1.6rem] mt-10">Planes desde $79.900</h2>
  </div>

  <form action="" class="flex flex-col gap-5 shadow-2xl p-10 rounded-xl bg-bg">
    <label for="" class="italic"
      >Estamos aquí para ayudarte a encontrar la experiencia de relajación
      ideal.</label
    >
    <div class="flex flex-col gap-3">
      <label class="text-primary_dark text-[1.3rem] font-semibold" for=""
        >Nombre completo*</label
      >
      <input class="rounded-full border border-primary h-10 px-3" type="text" />
    </div>

    <div class="flex flex-col gap-3">
      <label class="text-primary_dark text-[1.3rem] font-semibold" for=""
        >Correo*</label
      >
      <input class="rounded-full border border-primary h-10 px-3" type="text" />
    </div>

    <div class="flex flex-col gap-3">
      <label class="text-primary_dark text-[1.3rem] font-semibold" for=""
        >Celular*</label
      >
      <input class="rounded-full border border-primary h-10 px-3" type="text" />
    </div>

    <button
      class="lg>w-40 h-12 px-5 py-2 text-bg bg-primary shadow-lg rounded-xl mt-5 transition-all ease-in duration-150 hover:bg-primary_dark"
    >
      Enviar
    </button>
  </form>
</div>

<!-- PLANES -->

<div
  class="bg-primary px-10 lg:px-[20rem] flex flex-col gap-16 items-center h-[110rem] lg:h-[50rem] justify-center"
>
  <div class="flex flex-col gap-3 lg:w-[50%] items-center">
    <h1 class="text-secondary font-bold text-[1.5rem]">Nuestros Planes</h1>
    <p class="text-bg text-center">
      En IXORA Spa ofrecemos planes de bienestar para cada estilo de vida, con
      masajes, terapias y cuidados que renuevan tu energía. Elige el tuyo y vive
      una experiencia única de calma y equilibrio.
    </p>
  </div>

  <div class="w-full flex justify-between lg:flex-row flex-col gap-20 lg:gap-0">
    <div
      class="lg:w-[20rem] h-[24rem] bg-bg relative flex flex-col gap-5 justify-center items-center rounded-xl shadow-2xl"
    >
      <div
        class="bg-secondary w-[10rem] py-1 rounded-lg absolute top-[-4%] flex justify-center"
      >
        <h2 class="text-bg">Individual</h2>
      </div>
      <img src="assets/images/plan1.png" alt="" class="w-40" />
      <h2>Planes desde:</h2>
      <h1><span class="text-primary font-semibold">$</span>79.000 COP</h1>
      <a
        class="w-40 h-10 px-5 py-2 text-bg text-center bg-secondary shadow-lg rounded-xl mt-2 transition-all ease-in duration-150 hover:bg-secondary_dark cursor-pointer"
        routerLink="/planes"
      >
        Reservar
      </a>
    </div>

    <div
      class="lg:w-[20rem] h-[24rem] bg-bg relative flex flex-col gap-5 justify-center items-center rounded-xl shadow-2xl"
    >
      <div
        class="bg-secondary w-[10rem] py-1 rounded-lg absolute top-[-4%] flex justify-center"
      >
        <h2 class="text-bg">Pareja</h2>
      </div>
      <img src="assets/images/plan2.png" alt="" class="w-40" />

      <h2>Planes desde:</h2>
      <h1><span class="text-primary font-semibold">$</span>$119.900COP</h1>
      <a
        class="w-40 h-10 px-5 py-2 text-bg bg-secondary shadow-lg rounded-xl mt-2 transition-all ease-in duration-150 hover:bg-secondary_dark text-center cursor-pointer"
        routerLink="/planes"
      >
        Reservar
      </a>
    </div>

    <div
      class="lg:w-[20rem] h-[24rem] bg-bg relative flex flex-col gap-5 justify-center items-center rounded-xl shadow-2xl"
    >
      <div
        class="bg-secondary w-[10rem] py-1 rounded-lg absolute top-[-4%] flex justify-center"
      >
        <h2 class="text-bg">Grupal</h2>
      </div>
      <img src="assets/images/plan3.png" alt="" class="w-40" />

      <h2>Planes desde:</h2>
      <h1><span class="text-primary font-semibold">$</span>$259.900 COP</h1>
      <a
        class="w-40 h-10 px-5 py-2 text-bg bg-secondary shadow-lg rounded-xl mt-2 transition-all ease-in duration-150 hover:bg-secondary_dark text-center cursor-pointer"
        routerLink="/planes"
      >
        Reservar
      </a>
    </div>
  </div>
</div>

<!-- HORARIOS -->
<div class="h-[47rem] bg-bg flex flex-col pt-20 justify-between">
  <!-- BG-HORARIO -->
  <div
    class="w-full h-[70%] bg-[url('assets/images/horario.png')] bg-cover bg-center px-10 lg:px-[20rem] flex flex-col justify-center gap-10 py-10"
  >
    <div class="flex justify-center w-full h-[7rem] lg:h-[8rem]">
      <div
        class="bg-primary w-[25%] lg:w-[20%] flex items-center justify-center"
      >
        <img src="assets/icons/reloj.png" class="w-12 lg:w-[5rem]" alt="" />
      </div>
      <div class="bg-secondary w-[80%] lg:w-[80%]">
        <div
          class="flex gap-10 justify-center lg:justify-around w-full h-full items-center px-5"
        >
          <h1 class="text-bg font-semibold text-[0.9rem] lg:text-[1.2rem]">
            HORARIOS
          </h1>

          <div class="flex flex-col">
            <h6 class="text-bg text-[0.7rem] lg:text-[1.2rem]">
              LUNES A DOMINGOS Y FESTIVOS
            </h6>
            <H6 class="text-bg text-[0.7rem] lg:text-[1.2rem] font-semibold"
              >08:00 AM - 9:00PM</H6
            >
          </div>
        </div>
      </div>
    </div>

    <h1 class="text-white font-bold text-[1.2rem] lg:text-[1.7rem]">
      Nuestras redes sociales:
    </h1>

    <div class="flex w-full gap-5 lg:justify-between flex-col lg:flex-row">
      <div class="flex gap-6">
        <a href="https://www.facebook.com/ixoraspabga/?locale=es_LA" target="_blank"><img src="assets/icons/face.png" alt="" class="w-12 lg:w-16 transition-all ease-in hover:scale-125 cursor-pointer" /></a>
        <a href="https://www.instagram.com/ixoraspabga/" target="_blank"><img src="assets/icons/ig.png" alt="" class="w-12 lg:w-16 transition-all ease-in hover:scale-125 cursor-pointer" /></a>
        <a href="https://www.tiktok.com/@ixoraspabga" target="_blank"><img src="assets/icons/tik-tok.png" alt="" class="w-12 lg:w-16 transition-all ease-in hover:scale-125 cursor-pointer" /></a>
      </div>

      <button
        class="w-40 h-10 px-5 py-2 text-bg bg-secondary shadow-lg rounded-xl mt-2 transition-all ease-in duration-150 hover:bg-secondary_dark"
      >
        VER GALERIA
      </button>
    </div>
  </div>

  <div class="bg-primary w-full h-[19%] px-10 lg:px-[20rem] flex items-center">
    <h1 class="text-bg italic text-[1.3rem] lg:text-[1.7rem]">
      Relájate, renueva tu energía y déjate cuidar
    </h1>
  </div>
</div>

<!-- CONTACTO -->
<div class="w-screen h-[47rem] bg-white pt-16 flex justify-between flex-col">
  <div class="relative">
    <div
      class="bg-secondary w-[20rem] py-2 rounded-lg absolute top-[-4%] flex justify-center right-10"
    >
      <h2 class="text-bg font-bold">UBICACION</h2>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6641.632761115904!2d-73.11482339671586!3d7.107818664216748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683fe8300a33b1%3A0x1f2709e93e3fe626!2sCl.%2059%20%23%2032-18%2C%20Sotomayor%2C%20Bucaramanga%2C%20Santander!5e1!3m2!1ses-419!2sco!4v1759535608994!5m2!1ses-419!2sco"
      class="w-full h-[30rem]"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <div class="w-full h-[10rem] bg-bg px-10">
    <br />

    <div class="lg:px-[10rem] flex items-center gap-16 lg:gap-20">
      <img src="assets/images/logo.png" alt="" class="w-[5rem] lg:w-[15rem]" />
      <div class="flex flex-col gap-3">
        <div class="flex items-center gap-3">
          <img src="assets/icons/whatsapp_dark.png" class="w-5" alt="" /><span
            class="text-primary_dark text-[0.8rem] lg:text-[1rem]"
            >3227476900</span
          >
        </div>
        <div class="flex items-center gap-3">
          <img src="assets/icons/whatsapp_dark.png" class="w-5" alt="" /><span
            class="text-primary_dark text-[0.8rem] lg:text-[1rem]"
            >3104948884</span
          >
        </div>
        <div class="flex items-center gap-3">
          <img src="assets/images/ubicacion.png" class="w-6" alt="" /><span
            class="text-primary_dark text-[0.8rem] lg:text-[1rem]"
            >Calle 59 # 32 - 18, Barrio Conucos. Bucaramanga, Colombia</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
